h1, h2, h3, h4, h5 {
	font-family: 'Allan', 'Georgia', 'Times New Roman', serif;
}

h1 {
	font-size: 44px;
}

h1 a, h1 a:hover {
	text-decoration: none !important;
}

pre {
	padding: 10px;
}

code, pre {
	font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

.masthead {
	background: #2e2a2e;
}

.that-is-me {
	width: 158px;
	height: 158px;
	margin: 20px auto;
	vertical-align: middle;
	border-radius: 79px;
	background: url(/public/me.png) no-repeat;
	box-shadow: 0 0 16px rgba(0, 0, 0, 1);
}

.post a {
	text-decoration: underline;
}

.post a:hover {
	text-decoration: none;
}
