<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

<header class="masthead">

	<div class="masthead-inner">

		<div class="that-is-me"></div>

		<h1><a href="/">{{ site.title }}</a></h1>

		<p class="lead">A <span style="text-decoration: line-through;">Java</span> Swift enthusiast</p>

		<div class="colophon">
			<ul class="colophon-links">
				<li>
					<a href="/archive/">Archive</a>
				</li>
				<li>
					<a href="https://github.com/juraj-blahunka">
						GitHub account <i class="fa fa-external-link"></i>
					</a>
				</li>
			</ul>
			<p>&copy; {{ 'now' | date: "%Y" }}. {{ site.author.name }} All rights reserved.</p>
		</div>
	</div>
</header>

<div class="content container">
	{{ content }}
</div>

{% include ga.html %}

</body>
</html>
